@model IEnumerable<PresseLogg.Models.PressLog>

@helper Truncate(string input, int length)
{
    if (!String.IsNullOrEmpty(input))
    {

        if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    
    <p>
        

       Presse: @Html.DropDownList("press", "Alle" )
       <br />
       FKNR / Navn / Kommentar @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />

    </p>


}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Article.ArticleId)*@
            @Html.ActionLink("FKNR", "Index", new { sortOrder = ViewBag.ArticleSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.Name)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Presse linje">
            @*@Html.DisplayNameFor(model => model.Presse)*@
            @Html.ActionLink("Pr.", "Index", new { sortOrder = ViewBag.PresseSortParm })
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Tonn pr. Time">
            @Html.DisplayNameFor(model => model.TonnPrTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempMixer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempMixer2)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Damp Trykk">
            @Html.DisplayNameFor(model => model.Damptrykk)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Kg. Damp pr.time">
            @Html.DisplayNameFor(model => model.KgDampPrTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KonTrykk)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Oppholdstid">
            @Html.DisplayNameFor(model => model.Oppholdstid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempExpander)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmpMixer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmpMixer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmpExpander)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Vinkel OAP">
            @Html.DisplayNameFor(model => model.VinkelOAP)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="AMP Presse">
            @Html.DisplayNameFor(model => model.AmpPresse)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Temp Kjøle">
            @Html.DisplayNameFor(model => model.TempKjøle)
        </th>
        <th data-toggle="tooltip" data-placement="left" title="Kommentar">
            @Html.DisplayNameFor(model => model.Kommentar)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>


                <a href="@Url.Action("Details", "PressLog", new { id = item.ID })">@Html.DisplayFor(modelItem => item.ArticleId)</a>

            </td>
            <td data-toggle="tooltip" data-placement="bottom" title="@Html.DisplayFor(modelItem => item.Article.Name)">
                @Truncate(item.Article.Name, 10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TonnPrTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempMixer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempMixer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damptrykk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KgDampPrTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonTrykk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oppholdstid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempExpander)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmpMixer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmpMixer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmpExpander)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinkelOAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmpPresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempKjøle)
            </td>
            <td data-toggle="tooltip" data-placement="bottom" title="@Html.DisplayFor(modelItem => item.Kommentar)">

                @*@Html.DisplayFor(modelItem => item.Kommentar)*@
                @Truncate(item.Kommentar, 10)
            </td>
            <td>

                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
