@model PresseLogg.Models.ShiftTaskGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShiftTaskGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftTaskGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftTaskGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftTaskId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftTaskId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShiftTaskGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
