@model PresseLogg.Models.ShiftLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShiftLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftTaskGroup.ShiftTaskGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftTaskGroup.ShiftTaskGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShiftLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
